@use "../../global" as *;

.search-section {
  position: relative;

  background: linear-gradient(to bottom, $bg-gray 20%, $bg-white 80%);
}

.toggles{
  display: flex;
  gap: 5rem;
  font-size: $p-size;
  font-family: $text-font;
  font-weight: 700;
  margin-bottom: 2rem;

  @media (max-width: 450px) {
    flex-direction: column;
  }

button{
  text-decoration: none;
  color: white;
  font-weight: 700;
}

  &__search_btn {
    background-color: $text-black;
    padding: 1.8rem 3rem;
    border-radius: 0.3rem;
    border: 2px solid $text-black;
    transition: all 0.3s;

    &:hover {
      background-color: transparent;
      color: $text-black;
    }

  }

  &__form_btn {
    background-color: $text-orange;
    padding: 1.8rem 3rem;
    border-radius: 0.3rem;
    box-shadow: 0 10px 15px 0 rgb(255 83 48 / 35%);
    transition: all 0.3s;
    border: 2px solid $text-orange;

    @media (max-width: 450px) {
      padding: 1.8rem 8rem;
    }

    &:hover {
      box-shadow: 0 10px 15px 0 rgb(255 83 48 / 60%);
      background-color: #fa4226;
    }

}
}

.search-content {
  margin: 0 auto;
  margin-bottom: 10rem;

  &__box {
    background-color: $bg-white;
    width: 100%;
    padding: 4rem 4.5rem 5rem 5.5rem;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
    height: auto;
    position: relative;
    z-index: 4;
    color: white;
    border-radius: 5px;
    background-image: url("/src/images/book-car/book-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $text-black;

    @media (max-width: 400px) {
      padding: 4rem 2.5rem 5rem 2.5rem;
    }

    h2 {
      font-size: $h3-size;
      font-weight: 700;
      margin-bottom: 2.7rem;
    }


    .info_text {
      margin-block: 4vh;
      align-self: center;
      font-size: $p-size;
      font-weight: 300;
      // margin-inline: 1rem;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* Forces text into 3 lines */
      -webkit-box-orient: vertical; 
      text-align: center;
    }


    .form-elements {
      display:flex;
      font-size: $p-size;
      flex-direction: column;


      &__searchbar{
        gap: 3vh;
        @extend .form-elements;
      }

      &__form-selects{
        @extend .form-elements;
        flex-direction: row;
        justify-content: space-between;
        gap: 5vh;
        margin-bottom: 5vh;

        @media (max-width: 600px) {
          flex-direction: column;
        }

        .element{
          // color: #f8d7da;
          width: 100%;

          .select{
            // height: 10rem;
            width: 100%;
          }

        }

      }

      label {
        font-weight: 600;
      }

      // .searchfield {
      //   font-family: $text-font;
      //   border: 1px solid #ccd7e6;
      //   border-radius: 3px;
      //   font-weight: 400;
      //   padding: 1.2rem 1.3rem;
      //   outline: none;
      // }

    }

    .button {
      padding: 1.3rem 1.3rem;
      height: fit-content;
      align-self: self-end;
      border: none;
      font-family: $text-font;
      font-size: 1.8rem;
      font-weight: 500;
      color: white;
      background-color: $text-orange;
      box-shadow: 0 10px 15px rgb(255 83 48 / 35%);
      cursor: pointer;
      transition: all 0.3s;
      text-decoration: none;

      &:hover {
        box-shadow: 0 10px 15px rgb(255 83 48 / 55%);
      }
      
    }

    .button-disabled{
      @extend .button;
      background-color: $bg-gray;
      pointer-events: none;
      box-shadow:none;
      color:gray;
      font-weight: 400;

    }

  }
}

.error-message {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 1rem 1.4rem;
  margin-bottom: 1.8rem;
  margin-top: -1rem;
  border: 1px solid transparent;
  border-radius: 0.8rem;
  font-size: $p-size;
  font-weight: 500;

  display: none;
  justify-content: space-between;
  align-items: center;

  i {
    cursor: pointer;
  }
}

.searching-done {
  color: #2a6817;
  background-color: #c3fabe;
  border-color: #f5c6cb;
  padding: 1rem 1.4rem;
  margin-bottom: 1.8rem;
  margin-top: -1rem;
  border: 1px solid transparent;
  border-radius: 0.8rem;
  font-size: $p-size;
  font-weight: 500;

  display: none;
  justify-content: space-between;
  align-items: center;

  i {
    cursor: pointer;
  }
}