@use "../../global" as *;

.gridlayout-section {


  background-color: $bg-gray;
  overflow-y: scroll;
  mask-image: linear-gradient(to bottom, transparent, black 3%, black 97%, transparent);
  // display: flex;
  // flex-wrap: wrap;
  flex-grow: 1;
  padding: 2rem 3rem 5rem 2rem;
  height:90vh;

  &-content{
    display: grid;
    grid-template-rows: 50vh;
    grid-auto-rows: 50vh;
    grid-template-columns: repeat(auto-fit, minmax(16.5vw, 1fr));
    gap: 4rem;
  }
}